.menu-playlist {
    padding-top:  95px;
    padding-bottom: 13px;
    padding-left: 12px;
    padding-right: 12px;
  
}

.menu-playlist__play {
    width: 335px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #1f1f1f;
    border-radius: 10px;
    padding-right: 16px;
}

.menu-playlist__playtext h1 {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    padding-left: 12px;
    
}

.menu-playlist__playtext p{
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #737373;
    padding-left: 12px;
    margin-top: 5px;
    
}

.menu-playlist__play-icon img{
    margin-left: 10px;
}