.music-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 23px;
    background: green;
  

}

.music-item__itemtext {
    display: flex;
}

.music-item__timeimg {
    display: flex;
    align-items: center;
}

.music-item__item {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #2f2f2f;
    margin-right: 10px;
}

.music-item__text {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #2f2f2f;
}

.music-item__time {
    color: #737373;
    margin-right: 22px;
}