.plalist__title {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 12px;

}

.cardplaylist-normal {
    width: 94%;
    margin:  0 auto;
    height: 250px;
    
    margin-top: 15px;
    margin-bottom: 10px;
  
}

.cardplaylist-normal__img {
    width: 351px;
    height: 200px;
}

.cardplaylist-normal__text h1 {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    margin-top: 12px;
   
}

.cardplaylist-normal__text p {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    color: #737373;
   
}

.cardplaylist-small {
    width: 94%;
    margin:  0 auto;
    height: 226px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    overflow: auto;
  
}
.cardplaylist-small img:last-child {
    margin-right: 0;
}

.cardplaylist-small__img {
    width: 171px;
    height: 146px;
    margin-right: 5px;
}

.cardplaylist-small__text h1 {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
   
}

.cardplaylist-small__text p {
    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
    color: #737373;
   
}